openapi: 3.0.1
info:
  title: Accounts API
  description: Account application
  version: "1.0"
  x-audience: public
  x-api-key: 46837b3a-ce3c-40d3-9d76-bf040bb3fb6d
servers:
  - url: https://api.etrusted.com
paths:
  /channels:
    get:
      tags:
        - Channels
      summary: Get channels
      description: |
        This endpoint retrieves all channels for your account.
      operationId: get-channels-by-token
      parameters:
        - name: Authorization
          in: header
          description: An OAuth2 authorization header with an access token, see [OAuth2](/reference/authentication-2).
          required: true
          schema:
            type: string
      responses:
        200:
          description: The list of channels associated with your account.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Channel"
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
  /channels/{id}:
    put:
      tags:
        - Channels
      summary: Update a channel by ID
      description: This endpoint updates the channel with the specified ID.
      operationId: put-channel-by-id
      parameters:
        - name: Authorization
          in: header
          description: An OAuth2 authorization header with an access token, see [OAuth2](/reference/authentication-2).
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: The channel ID.
          required: true
          schema:
            type: string
      requestBody:
        description: The channel updates as an object.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateChannel"
        required: true
      responses:
        200:
          description: The ID of the updated channel.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChannelResponse"
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      x-codegen-request-body-name: body
components:
  schemas:
    Channel:
      type: object
      properties:
        id:
          type: string
          description: The channel UUID.
          example: chl-xxxxxxxa-yyyy-xxxx-yyyy-xxxxxxxxxxxx
        createdAt:
          type: string
          description:
            The date and time when the channel was created, in the ISO
            8601 and RFC3339 compliant format `yyyy-MM-dd’T’HH:mm:ss.SSSZ`. Check
            the [glossary](/docs/glossory#iso-8601) for examples of valid
            datetime formats.
          format: date-time
          example: 2018-02-01T17:09:41.79Z
        updatedAt:
          type: string
          description:
            The date and time when the channel was last modified, in the
            ISO 8601 and RFC3339 compliant format `yyyy-MM-dd’T’HH:mm:ss.SSSZ`. Check
            the [glossary](/docs/glossory#iso-8601) for examples of valid
            datetime formats.
          format: date-time
          example: 2018-02-01T17:09:41.79Z
        name:
          type: string
          description: The name of the channel.
          example: my_example_channel
        address:
          type: string
          description: The address that is associated with the channel.
          example: Anystr. 17, 12345, Anycity, Anystate 12345
        url:
          type: string
          description: A URL that to a website that the channel represents.
          example: https://wwww.myshop.fiction
        logoUrl:
          type: string
          description: A URL to the channel logo.
          example: https://wwww.myshop.fiction/logo.png
        accountRef:
          type: string
          description: A UUID as account reference.
          example: acc-xxxxxxxa-yyyy-xxxx-yyyy-xxxxxxxxxxxx
        locale:
          type: string
          description: The locale that is associated with the channel.
          format: locale
          example: en_US
    ChannelResponse:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for this channel object.
    UpdateChannel:
      required:
        - name
      type: object
      properties:
        name:
          type: string
          description: The name of the channel.
          example: my_example_channel
        address:
          type: string
          description: The address that is associated with the channel.
          example: Anystr. 17, 12345, Anycity, Anystate 12345
        url:
          type: string
          description: A URL that to a website that the channel represents.
          example: https://wwww.myshop.fiction
        logoUrl:
          type: string
          description: A URL to the channel logo.
          example: https://wwww.myshop.fiction/logo.png
        locale:
          type: string
          description: The locale that is associated with the channel.
          format: locale
          example: en_US
x-readme:
  explorer-enabled: false
