openapi: 3.0.3
info:
  title: Invite Settings API
  description: API for managing Invite Settings
  version: 0.1.0
servers:
  - url: https://api.etrusted.com
security:
  - bearerAuth: []

paths:
  /invite-settings:
    get:
      summary: Retrieve all Invite Settings in the Account
      description: |
        Produces the collection of all Invite Settings entity objects across all Channels in the Account, in which the request originates. 

        The list can be filtered by any subsets of the following query constraint parameters:
        - Invite Settings identifier,
        - Event Type identifier,
        - Channel identifier.

        _Note_: 
        * If no parameters are provided, all Invite Settings entity objects in the Account will be produced.
        * **_Limitation_**: To retrieve more than 5000 Invite Settings entity objects at once, implement pagination using the query string parameters.
      parameters:
        - in: query
          name: id
          description: The Invite Settings identifier to retrieve the entity object by (only this entity object, if exists).
          example: "is-4c00ebfe-c5b7-4691-b713-fb053352b4ec"
          schema:
            type: string
            minLength: 1
          required: false
        - in: query
          name: channel-id
          description: The Channel identifier to filter the retrievable Invite Settings entity objects by.
          example: "chl-89861a03-2fa9-42e6-bc9f-77f270d965f1"
          schema:
            type: string
            minLength: 1
          required: false
        - in: query
          name: event-type-id
          description: The Event Type identifier to filter the retrievable Invite Settings entity objects by.
          example: "ety-e033e09f-63d7-4e10-b811-40ba2f5d145d"
          schema:
            type: string
            minLength: 1
          required: false
      responses:
        "200":
          description: |
            The collection of all Invite Settings entity objects across all Channels in the Account, in which the request originates.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/InviteSettingsAllFields"
        "401":
          description: Unauthorized

    patch:
      summary: Modify all Invite Settings in the Account
      description: "Updates parts of all invite settings with the same event-type ID for all channels"
      parameters:
        - in: query
          name: event-type-id
          description: |
            The Event Type identifier to filter all Invite Settings entity objects by, before trying to apply the desired modification.
            Only the Invite Settings entity objects whose Event Type identifier matches this parameter will be updated.
          schema:
            type: string
            minLength: 1
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InviteSettingsAllUpdateRequestBody"
      responses:
        "200":
          description: The collection of the modified Invite Settings entity objects, across all Channels of the Account, in which the request originates.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/InviteSettingsAllFields"
        "401":
          description: Unauthorized

  /invite-settings/{id}:
    get:
      summary: Retrieve Invite Settings by id
      description: Produces the Invite Settings entity object that matches provided identifier parameter value.
      parameters:
        - in: path
          name: id
          description: The Invite Settings identifier.
          example: "is-4c00ebfe-c5b7-4691-b713-fb053352b4ec"
          schema:
            type: string
            minLength: 1
          required: true
      responses:
        "200":
          description: invite settings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InviteSettingsAllFieldsInitial"
        "401":
          description: Unauthorized
        "404":
          description: Not found

    patch:
      summary: Modify Invite Settings by id
      description: Modifies parts of the Invite Settings entity object with the identifier matching the provided id value.
      parameters:
        - in: path
          name: id
          description: The Invite Settings identifier.
          example: "is-4c00ebfe-c5b7-4691-b713-fb053352b4ec"
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InviteSettingsSpecificUpdateRequestBody"
      responses:
        "200":
          description: The modified Invite Settings entity object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InviteSettingsAllFields"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  Error:
                    type: string
                    enum:
                      - Invalid request
                  ErrorDescription:
                    type: string
                    example: "The invite settings with ID 'is-fa183d98-f14e-462a-b473-39aedae51a9a' does not exist"
                required:
                  - Error
                  - ErrorDescription
        "401":
          description: Unauthorized

components:
  schemas:
    InviteSettingsAllUpdateRequestBody:
      type: object

      properties:
        enabled:
          type: boolean
          example: true

        productInviteConfiguration:
          type: object
          properties:
            sendingDelayInDays:
              type: number
              minimum: 0
              maximum: 180
              example: 7
            sendingTimeOfDay:
              type: string
              format: "^([0-1][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]Z$"
              description: |
                The time of day at which Product Review Invites should be scheduled to be sent, in 24h UTC format, without timezone specification.
              example: "07:15:00Z"
            inviteTemplateId:
              minLength: 1
              type: string
              example: "tpl-6ccace5e-cd7c-4add-9217-87e411e9a79f"
            questionnaireTemplateId:
              minLength: 1
              type: string
              example: "qst-f58de863-a0fa-43f6-bdc2-847f9247c9ec"
            enabled:
              type: boolean
              example: true

        serviceInviteConfiguration:
          type: object
          properties:
            sendingDelayInDays:
              type: number
              minimum: 0
              maximum: 180
              example: 7
            sendingTimeOfDay:
              type: string
              format: "^([0-1][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]Z$"
              description: |
                The time of day at which Service Review Invites should be scheduled to be sent, in 24h UTC format, without timezone specification.
              example: "07:15:00Z"
            inviteTemplateId:
              minLength: 1
              type: string
              example: "tpl-c31c696d-a70e-450a-a842-58370b401cd8"
            questionnaireTemplateId:
              minLength: 1
              type: string
              example: "qst-93fc31d6-e3f4-4554-b279-8059550995d8"
            enabled:
              type: boolean
              example: true

    InviteSettingsSpecificUpdateRequestBody:
      type: object
      properties:
        enabled:
          type: boolean
          example: true

        productInviteConfiguration:
          type: object
          properties:
            sendingDelayInDays:
              type: number
              minimum: 0
              maximum: 180
              example: 7
            sendingTimeOfDay:
              type: string
              format: "^([0-1][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]Z$"
              description: |
                The time of day at which Product Review Invites should be scheduled to be sent, in 24h UTC format, without timezone specification.
              example: "07:15:00Z"
            inviteTemplateId:
              minLength: 1
              type: string
              example: "tpl-6ccace5e-cd7c-4add-9217-87e411e9a79f"
            questionnaireTemplateId:
              minLength: 1
              type: string
              example: "qst-f58de863-a0fa-43f6-bdc2-847f9247c9ec"
            enabled:
              type: boolean
              example: true

        serviceInviteConfiguration:
          type: object
          properties:
            sendingDelayInDays:
              type: number
              minimum: 0
              maximum: 180
              example: 7
            sendingTimeOfDay:
              type: string
              format: "^([0-1][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]Z$"
              description: |
                The time of day at which Service Review Invites should be scheduled to be sent, in 24h UTC format, without timezone specification.
              example: "07:15:00Z"
            inviteTemplateId:
              minLength: 1
              type: string
              example: "tpl-c31c696d-a70e-450a-a842-58370b401cd8"
            questionnaireTemplateId:
              minLength: 1
              type: string
              example: "qst-93fc31d6-e3f4-4554-b279-8059550995d8"
            enabled:
              type: boolean
              example: true

    InviteSettingsId:
      type: object
      properties:
        id:
          type: string
          minLength: 1
          example: "is-4c00ebfe-c5b7-4691-b713-fb053352b4ec"
      required:
        - id

    InviteSettingsCreatedAt:
      type: object
      properties:
        createdAt:
          type: string
          format: datetime
          example: "2022-08-10T17:00:00.000Z"
      required:
        - createdAt

    InviteSettingsUpdatedAtInitial:
      type: object
      properties:
        updatedAt:
          type: string
          format: datetime
          example: "2022-08-10T17:00:00.000Z"
      required:
        - updatedAt

    InviteSettingsUpdatedAt:
      type: object
      properties:
        updatedAt:
          type: string
          format: datetime
          example: "2022-08-10T17:09:19.000Z"
      required:
        - updatedAt

    InviteSettingsAllFieldsRequired:
      type: object
      properties:
        channelId:
          type: string
          minLength: 1
          example: "chl-89861a03-2fa9-42e6-bc9f-77f270d965f1"

        eventTypeId:
          type: string
          minLength: 1
          example: "ety-d120cd0b-03f3-4f8b-ba59-df017249171e"

        enabled:
          type: boolean
          example: true

        productInviteConfiguration:
          type: object
          properties:
            sendingDelayInDays:
              type: number
              minimum: 0
              maximum: 180
              example: 7
            sendingTimeOfDay:
              type: string
              format: "^([0-1][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]Z$"
              description: |
                The time of day at which Product Review Invites should be scheduled to be sent, in 24h UTC format, without timezone specification.
              example: "07:15:00Z"
            inviteTemplateId:
              minLength: 1
              type: string
              example: "tpl-6ccace5e-cd7c-4add-9217-87e411e9a79f"
            questionnaireTemplateId:
              minLength: 1
              type: string
              example: "qst-f58de863-a0fa-43f6-bdc2-847f9247c9ec"
            enabled:
              type: boolean
              example: true
          required:
            - sendingDelayInDays
            - sendingTimeOfDay
            - inviteTemplateId
            - questionnaireTemplateId
            - enabled

        serviceInviteConfiguration:
          type: object
          properties:
            sendingDelayInDays:
              type: number
              minimum: 0
              maximum: 180
              example: 3
            sendingTimeOfDay:
              type: string
              format: "^([0-1][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]Z$"
              description: |
                The time of day at which Service Review Invites should be scheduled to be sent, in 24h UTC format, without timezone specification.
              example: "07:15:00Z"
            inviteTemplateId:
              minLength: 1
              type: string
              example: "tpl-c31c696d-a70e-450a-a842-58370b401cd8"
            questionnaireTemplateId:
              minLength: 1
              type: string
              example: "qst-93fc31d6-e3f4-4554-b279-8059550995d8"
            enabled:
              type: boolean
              example: true
          required:
            - sendingDelayInDays
            - sendingTimeOfDay
            - inviteTemplateId
            - questionnaireTemplateId
            - enabled

      required:
        - channelId
        - eventTypeId
        - enabled
        - productInviteConfiguration
        - serviceInviteConfiguration

    InviteSettingsAllFieldsInitial:
      type: object
      allOf:
        - $ref: "#/components/schemas/InviteSettingsId"
        - $ref: "#/components/schemas/InviteSettingsAllFieldsRequired"
        - $ref: "#/components/schemas/InviteSettingsCreatedAt"
        - $ref: "#/components/schemas/InviteSettingsUpdatedAtInitial"

    InviteSettingsAllFields:
      type: object
      allOf:
        - $ref: "#/components/schemas/InviteSettingsId"
        - $ref: "#/components/schemas/InviteSettingsAllFieldsRequired"
        - $ref: "#/components/schemas/InviteSettingsCreatedAt"
        - $ref: "#/components/schemas/InviteSettingsUpdatedAt"

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-readme:
  explorer-enabled: false
