openapi: 3.0.2
info:
  title: Get aggregated review stats using different filters
  description: Get review stats for different time frames

  version: "1.0.0"
servers:
  - url: https://api.etrusted.com
paths:
  "/aggregations-metadata":
    post:
      tags:
        - Endpoints
      summary: Get review stats over different time frames
      description: |
        **NB:** Access to this endpoint is available upon request. Please reach out to your respective CSMs our account executive if you will like to use this API.

        You can combine a number of filters known as tags to select specific reviews you will like to collect stats on.
      parameters:
        - name: Authorization
          in: header
          description: An OAuth token in the form "Bearer {accessToken}"
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReviewRequest"
      responses:
        "200":
          description: The stats was fetched successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReviewResponse"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
components:
  schemas:
    ReviewRequest:
      type: object
      properties:
        tags:
          type: array
          items:
            type: object
            properties:
              category:
                type: string
              value:
                type: string
    ReviewResponse:
      description: The stats was fetched successfully.
      type: object
      properties:
        summaries:
          type: object
          properties:
            7days:
              type: object
              properties:
                rating:
                  type: string
                count:
                  type: integer
                  format: int32
                distribution:
                  type: object
                  properties:
                    oneStar:
                      type: integer
                      format: int32
                    twoStars:
                      type: integer
                      format: int32
                    threeStars:
                      type: integer
                      format: int32
                    fourStars:
                      type: integer
                      format: int32
                    fiveStars:
                      type: integer
                      format: int32
            30days:
              type: object
              properties:
                rating:
                  type: string
                count:
                  type: integer
                  format: int32
                distribution:
                  type: object
                  properties:
                    oneStar:
                      type: integer
                      format: int32
                    twoStars:
                      type: integer
                      format: int32
                    threeStars:
                      type: integer
                      format: int32
                    fourStars:
                      type: integer
                      format: int32
                    fiveStars:
                      type: integer
                      format: int32
            90days:
              type: object
              properties:
                rating:
                  type: string
                count:
                  type: integer
                  format: int32
                distribution:
                  type: object
                  properties:
                    oneStar:
                      type: integer
                      format: int32
                    twoStars:
                      type: integer
                      format: int32
                    threeStars:
                      type: integer
                      format: int32
                    fourStars:
                      type: integer
                      format: int32
                    fiveStars:
                      type: integer
                      format: int32
            365days:
              type: object
              properties:
                rating:
                  type: string
                count:
                  type: integer
                  format: int32
                distribution:
                  type: object
                  properties:
                    oneStar:
                      type: integer
                      format: int32
                    twoStars:
                      type: integer
                      format: int32
                    threeStars:
                      type: integer
                      format: int32
                    fourStars:
                      type: integer
                      format: int32
                    fiveStars:
                      type: integer
                      format: int32
x-readme:
  explorer-enabled: false
